<template>
  <div class="row">
    <div class="col">
      <h5 class="mb-3 d-flex align-items-center">
        {{ section.name }}
      </h5>
      <table class="card-list-table">
        <BudgetRowHeader :configurable="section.configurable" />
        <tbody>
          <BudgetRow
            :section="section"
            :item="item"
            v-for="item in section.items"
            :configurable="section.configurable"
            @update-budget-row="updateRow"
            @remove-budget-row="removeRow"
            :key="item.id"
          />
          <BudgetRowFooter :section="section" @add-budget-row="addRow" />
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from "vue"
import BudgetRowHeader from "@/components/BudgetRowHeader"
import BudgetRowFooter from "@/components/BudgetRowFooter"
import BudgetRow from "@/components/BudgetRow"
import { num, guid, reducer } from "@/utils"
export default {
  components: {
    BudgetRowHeader,
    BudgetRowFooter,
    BudgetRow
  },
  props: ["section"],
  data() {
    return {}
  },
  methods: {
    updateSectionTotals() {
      const total = this.section.items.reduce(
        (acc, item) => num(acc) + num(item.subTotal),
        0
      )
      this.section.total = total
    },

    updateRow(item) {
      const itemIndex = this.section.items.findIndex(i => i.id === item.id)
      Vue.set(this.section.items, itemIndex, item)
      this.updateSectionTotals()
      this.$emit("update-budget")
    },
    removeRow(data) {
      const itemIndex = this.section.items.findIndex(i => i.id === data.item.id)
      Vue.delete(this.section.items, itemIndex)
      this.updateSectionTotals()
      this.$emit("update-budget")
    },
    addRow() {
      const newBudgetRow = {
        id: guid(),
        name: "Neues Feld",
        absolut: 0,
        percentage: 0,
        time: 0,
        costPerHour: 0,
        subTotal: 0
      }
      this.section.items.push(newBudgetRow)
    }
  }
}
</script>
