<template>
  <div>
    <h1>Budget-Planer</h1>
    <BudgetSection
      class="my-4"
      :section="section"
      v-for="section in sections"
      :key="section.name"
      @update-budget="updateBudgetTotals"
    />
    <div class="row mt-4" v-show="budgetTotal > 0">
      <div class="col-6 d-flex">
        <h5 class="text-nowrap pr-3 pr-sm-4 pr-md-4">
          Benötigtes Budget
        </h5>
        <span class="pr-4 pr-sm-4 pr-md-4 text-nowrap"
          >{{ budgetTotal }} &euro;</span
        >
        <span class="text-nowrap">{{ budgetPercentage }} %</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          class="btn btn-sm btn-dark print-button"
          @click.prevent="printWindow"
        >
          Drucken
        </button>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import BudgetSection from "@/components/BudgetSection"
import { num, reducer } from "@/utils"
export default {
  components: { BudgetSection },
  data() {
    return {
      budgetTotal: 0,
      budgetPercentage: 100,
      sections: [
        {
          name: "Herstellung",
          total: 0,
          percentage: 0,
          configurable: true,
          items: []
        },
        {
          name: "Vermarktung",
          total: 0,
          percentage: 0,
          configurable: false,
          items: []
        }
      ]
    }
  },
  methods: {
    updateBudgetTotals() {
      this.budgetTotal = this.sections.reduce(
        (acc, section) => num(acc) + num(section.total),
        0
      )
      this.updateSections()
    },
    updateSections() {
      this.sections.forEach(section => {
        section.percentage = num(
          Math.round((section.total / this.budgetTotal) * 100)
        )
        section.items.forEach(item => {
          item.percentage = num(
            Math.round((item.subTotal / this.budgetTotal) * 100)
          )
        })
      })
    },
    printWindow() {
      window.print()
    }
  }
}
</script>
