<template>
  <tr>
    <td colspan="7">
      <div class="row">
        <div :class="[haveItems ? 'col-12 my-3' : 'col text-center']">
          <span
            class="btn btn-sm btn-light add-row-button"
            @click.prevent="handleAddRow"
            >Neue Zeile hinzufügen</span
          >
        </div>
        <div class="col" v-show="haveItems">
          <span class="font-weight-bold text-nowrap ml-2"
            >{{ section.name }} Total</span
          >
          <span class="font-sm text-nowrap ml-5"
            >{{ section.total }} &euro;</span
          >
          <span class="font-sm text-nowrap ml-5"
            >{{ section.percentage }} %</span
          >
        </div>
      </div>
    </td>
  </tr>
</template>

<script>
/* eslint-disable */
export default {
  props: ["section"],
  computed: {
    haveItems() {
      return this.section.items.length > 0
    }
  },
  methods: {
    handleAddRow() {
      this.$emit("add-budget-row")
    }
  }
}
</script>
