<template>
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-sm-center">Absolut</th>
      <th class="text-sm-center">Prozentual</th>
      <th class="text-sm-center" v-if="configurable">Zeit</th>
      <th class="text-sm-center" v-if="configurable"></th>
      <th class="text-sm-center" v-if="configurable">Stundenlohn</th>
      <th class="text-sm-center"></th>
    </tr>
  </thead>
</template>

<script>
export default {
  props: {
    configurable: {
      default: false
    }
  }
}
</script>
