<template>
  <tr>
    <td data-title="Name" class="budget-row">
      <input
        type="text"
        class="form-control form-control-sm border-bottom"
        v-model="item.name"
      />
    </td>
    <td data-title="Absolut" class="budget-row">
      <div class="input-group input-group-sm flex-nowrap">
        <input
          type="text"
          class="form-control form-control-sm input-text-sm text-sm-center text-md-center"
          aria-label="absolut"
          v-model.number="item.absolut"
          @input="updateAbsolute"
        />
        <div class="input-group-append">
          <span class="input-group-text">&euro;</span>
        </div>
      </div>
    </td>
    <td data-title="Prozentual" class="font-sm text-sm-center budget-row">
      <span class="ml-2">{{ item.percentage }} %</span>
    </td>
    <td data-title="Zeit" class="budget-row" v-if="configurable">
      <div class="input-group flex-nowrap ">
        <input
          type="text"
          class="form-control form-control-sm input-text-sm text-sm-center text-md-center"
          aria-label="zeit"
          v-model.number="item.time"
          @input="updateCostPerHour"
        />
      </div>
    </td>
    <td
      data-title="x"
      class="d-none d-sm-block d-md-block text-sm-center"
      v-if="configurable"
    >
      x
    </td>
    <td data-title="Stundenlohn" class="budget-row" v-if="configurable">
      <div class="input-group input-group-sm flex-nowrap">
        <input
          type="text"
          class="form-control form-control-sm input-text-sm text-sm-center text-md-center"
          aria-label="zeit"
          v-model.number="item.costPerHour"
          @input="updateCostPerHour"
        />
        <div class="input-group-append">
          <span class="input-group-text">&euro;</span>
        </div>
      </div>
    </td>
    <td data-title="" class="d-sm-block d-md-block text-right">
      <button
        class="btn btn-sm btn-light shadow-none remove-budge-row"
        @click.prevent="removeBudgetRow"
      >
        Entfernen
      </button>
    </td>
  </tr>
</template>

<script>
/* eslint-disable */
import { num } from "@/utils"
export default {
  props: ["section", "item", "configurable"],
  methods: {
    updateAbsolute() {
      this.item.subTotal = num(this.item.absolut)
      this.item.time = 0
      this.item.costPerHour = 0
      this.$emit("update-budget-row", this.item)
    },
    updateCostPerHour() {
      if (this.configurable && this.item.time && this.item.costPerHour) {
        const subTotal = this.item.costPerHour * this.item.time
        this.item.absolut = subTotal
        this.item.subTotal = subTotal
        this.$emit("update-budget-row", this.item)
      }
    },

    removeBudgetRow() {
      this.$emit("remove-budget-row", {
        section: this.section,
        item: this.item
      })
    }
  }
}
</script>

<style scoped></style>
