@import "../../node_modules/bootstrap/scss/bootstrap";

$shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
$gray-border: darken(#f8f8f8, 10%);
$gray-light: rgba(0, 0, 0, 0.35);

#app {
  margin-top: 10px;
}

*:focus {
  outline: none !important;
}

.font-sm {
  font-size: 0.875rem;
}

input[type="text"] {
  border: 0;
  border-bottom: 1px dotted #ddd;
}
.input-group-text {
  border: 0;
  border-bottom: 1px dotted #ddd;
  background: transparent;
}

.card-list-table {
  table-layout: fixed;
  background: transparent;
  margin-bottom: 0px;
  width: 100%;
  font-size: 0.875rem;

  thead th {
    border: 0;
    padding: 5px 5px 10px 5px;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: normal;
    color: $gray-light;
    letter-spacing: 0.5pt;

    &:first-of-type {
      padding-left: 10px;
    }
  }

  tfoot tr {
    display: block;
    padding: 0px 10px;
    margin: 0 0 0px 0;
  }

  tfoot td {
    padding: 5px 15px 10px 5px;
  }

  tbody td {
    border: 0;
    padding: 5px 5px 10px 5px;
  }
}

@media (max-width: 575.98px) {
  .card-list-table {
    table-layout: fixed;
    background: transparent;
    margin-bottom: 0px;

    thead {
      display: none;
    }

    tfoot tr {
      display: block;
      padding: 15px 10px;
      margin: 0 0 0px 0;
    }

    tfoot td {
      padding: 5px 30px 10px 5px;

      &.empty {
        width: 100vw !important;
        text-align: center;
      }
    }

    tbody tr {
      box-shadow: $shadow;
      background: #fff;
      cursor: pointer;
      display: block;
      padding: 15px 10px;
      margin: 0 0 10px 0;
    }
    tbody td.budget-row {
      border: 0;
      display: block;
      padding: 5px 5px 10px 50%;
      position: relative;

      &:first-of-type::after {
        visibility: hidden;
      }

      &:before {
        color: $gray-light;
        text-transform: uppercase;
        font-size: 0.875em;
        content: attr(data-title);
        display: table-cell;
        font-weight: normal;
        height: 100%;
        left: 15px;
        margin: auto;
        position: absolute;
        vertical-align: middle;
        white-space: nowrap;
        width: 50%;
      }
    }
  }
}

/* Minimal print style sheet */
/* Reusing exising styles and only hiding buttons */
@media print {
  .remove-budge-row {
    display: none;
  }
  .add-row-button {
    display: none;
  }
  .print-button {
    display: none;
  }
}
