<template>
  <div id="app" class="container">
    <BudgetPlanner />
  </div>
</template>
<script>
import BudgetPlanner from "@/components/BudgetPlanner"
export default {
  name: "app",
  components: {
    BudgetPlanner
  }
}
</script>
